<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adding fillable fields example</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
Latest action result:
<p th:text="${message}"/>

<h2>Adding fillable fields:</h2>
<form action="/examples/addFillableFields" method="POST" th:object="${fillableFields}">
    <p>Choose document:
        <select th:field="*{documentId}">
            <option th:each="document: ${documentList}" th:value="${document.documentId}" th:text="${document.documentName}"/>
        </select>
    </p>
    <p>Signature field role name <input th:field="*{signatureFieldRole}" type="text"/></p>
    <p>Text field role name <input th:field="*{textFieldRole}" type="text"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
<p><a th:href="@{/examples/}"><h3>Back to examples list</h3></a></p>
</body>
</html>