<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>User credentials</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="${message}"/>
<h1>Examples:</h1>
<ul>
    <li><h2><a href="/examples/uploadDocument">Upload document</a></h2></li>
    <li><h2><a href="/examples/signingLink">Create signing link</a></h2></li>
    <li><h2><a href="/examples/simpleFromInvite">Simple from invite</a></h2></li>
    <li><h2><a href="/examples/createTemplate">Create template</a></h2></li>
    <li><h2><a href="/examples/addFillableFields">Adding fillable fields on document</a></h2></li>
    <li><h2><a href="/examples/uploadDocumentWithTags">Adding text tags on document</a></h2></li>
    <li><h2><a href="/examples/oneTemplateMultipleSigners">Signature invite on one template and multiple signers (with
        different roles)</a></h2></li>
    <li><h2><a href="/examples/multipleTemplatesAndSigners">Invite on multiple templates for multiple signers</a></h2>
    </li>
    <li><h2><a href="/examples/prefiledText">Setting the initial values for template fields</a></h2></li>
    <li><h2><a href="/examples/embeddedSigning">Embedded signing</a></h2></li>
</ul>
</body>
</html>
